<h1 style="text-align: center;">Header For Angular</h1>

<p style="margin: 50px; color:black; border: 1px solid salmon; border-radius: 18px; padding: 30px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium magni repellat illo beatae commodi veniam nisi
    possimus cum, odit nihil iste molestias corrupti sapiente tempore sequi quia sed quaerat modi eius distinctio porro
    fuga facilis hic nu r placeat ad distinctio enim expedita accusantium. Cupiditate sequi ex dolor facere
    repellat odio amet facilis vero doloribus asperiores? Vitae, officiis. Incidunt, magnam! Hic aperiam eveniet, qui
    recusandae voluptate saepe et quaerat rem ipsum molestias minima dolore impedit modi iusto laboriosam voluptates
    nostrum. Vel nam dolorem quia eum, ipsam nobis. Illum, asperiores. Aspernatur libero ipsam dignissimos ducimus, enim
    eum quas rerum eligendi dolor id adipisci a odio. Iste est libero accusantium nihil rerum ducimus consequatur eius
    et, autem ipsam harum blanditiis laboriosam, amet quae consectetur eveniet ad officiis. Iusto veritatis molestiae
    debitis vel magni, consequuntur facere totam culpa fuga earum illum voluptates vero voluptate cumque, reiciendis
    dignissimos explicabo distinctio repellat cupiditate ut. Voluptatem, exercitationem. Fuga voluptatem veritatis
    doloribus cupiditate fugiat illo, voluptas itaque odit eius fugit id facere quidem eligendi veniam reprehenderit eum
    repudiandae tempore? Accusamus pariatur impedit quo eum rem vero, doloribus animi fugiat culpa porro vel odio
    cupiditate sequi expedita, totam quis tempore, odit debitis? Nesciunt dolore enim sunt illo molestias magni eaque?
    Nesciunt iste soluta esse incidunt ullam rem exercitationem architecto sequi quam ratione corporis accusamus alias
    aut, officia, repellendus repudiandae itaque! Dicta sit ducimus maiores animi enim tenetur eligendi, velit ex minima
    dolores ipsa quibusdam illum, nesciunt adipisci sequi nobis architecto facere commodi iusto veniam, atque fugiat?
    Impedit veniam praesentium vitae nostrum incidunt illo distinctio aperiam officiis, quasi voluptatem recusandae sunt
    labore provident soluta fugiat. Magnam maiores a amet nobis libero tempore tenetur odio? Excepturi odit maiores
    reiciendis cupiditate voluptas facilis. Fuga hic esse repellat corporis veniam voluptatibus ut blanditiis cumque
    harum ipsam, et molestiae a, eveniet magnam eaque minima ipsum distinctio non quibusdam aliquam sed ea. Error nam
    beatae, a perferendis harum deserunt, velit quo ipsum nulla, quidem reprehenderit ipsam praesentium dolorum totam
    blanditiis. Maxime ab, similique laboriosam amet quidem in sequi vitae officiis velit aliquam libero omnis earum!
    Nobis odio perferendis doloribus sequi, reiciendis, tenetur nulla at dicta quod, deserunt velit fugiat beatae
    voluptates error. Aut quaerat maiores eligendi beatae quo, a, quas mollitia error nemo inventore fugiat, voluptate
    aperiam provident neque nam tenetur qui fuga eum quae? Necessitatibus, magni reiciendis. Totam, ex iure animi
    inventore officiis sint nisi illum. Consequatur optio culpa placeat, aliquam nulla ipsa, laudantium, et sit fugit
    nisi deserunt facere architecto. Sapiente aperiam, reiciendis accusantium labore animi, laborum atque vel velit
    neque eos incidunt. Consequatur, at. Repellendus.</p>